.Card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  margin-bottom: 30px;
  padding: 2px 16px;
  background-color: #fd4445;
  position: relative;
  color: #333;
}

/* On mouse-over, add a deeper shadow */
.Card:hover {
  box-shadow: 8px 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.Image {
  width: 50px;
}

@media only screen and (max-width: 600px) {
  .Image {
    width: 30px;
  }
}

.Links {
  margin-bottom: 5px;
}
