.Icon {
    margin: 5px;
    font-size: 25px;
}

div > div > span > img {
    width : 50px;
    margin: 5px;
}

.Special {
    width:75;
}

@media screen and (min-width: 600px) {
    .Icon {
        margin: 10px;
        font-size: 50px;
    }

    div > div > span > img {
        width : 75px;
        margin: 10px;
    }

    .Special {
        width:150px;
    }
    
}

.Full-Content-Skills {
    margin-top: 150px;
    text-align: center;
}

.Design {
    margin-top: 30px;
}


