h3 {
  margin: 0;
  padding: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  text-rendering: optimizeLegibility;
  font-size: 1.38316rem;
  line-height: 1.1;
}

ul {
  margin: 0 0 1.45rem 1.45rem;
  padding: 0;
  list-style-position: outside;
  list-style-image: none;
}

html,
body {
  background-color: #e7eaf6;
  margin: 0;
  padding: 0;
  color: #113f67;
  font-family: "Inconsolata", monospace;
}

.Full {
  margin: 40px;
}

@media screen and (min-width: 600px) {
  .Full {
    font-size: 28px;
  }
}

.clickable-link,
.clickable-link:visited,
.clickable-link:link,
.clickable-link:active {
  text-decoration: none;
  color: inherit;
}

.clickable-link {
  color: #a2a8d3 !important;
}

.clickable-link:hover {
  color: #113f67 !important;
}

.linkStyle {
  text-decoration: none;
  color: #878caf;
}

.linkStyle:hover {
  color: #38598b;
}

@media screen and (max-width: 600px) {
  .linkStyle h3 {
    font-size: 18px;
  }
}

.activeClass {
  color: #113f67;
}

.justify-text {
  text-align: justify;
  display: block;
}

.about-p {
  font-size: 28px;
  font-weight: 400;
}

.about-h1 {
  margin: -20px 0 -10px;
  font-size: 48px;
}

@media only screen and (max-width: 600px) {
  .about-p {
    font-size: 22px;
  }

  .about-h1 {
    font-size: 28px;
  }
}

.header-li {
  display: inline-block;
  margin-left: 1rem;
}

.header {
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 380px) {
  .header-li {
    display: inline-block;
    margin-left: 0.5rem;
  }
}
